
/*
*/
input, select, button, textarea {  font-family: 'Rajdhani', Verdana, arial, sans-serif; } 

button, .button { border: 1px solid; line-height: 1.5rem; padding: 0 1rem; font-weight: 700; font-size: 1.0125rem; cursor: pointer; }