<!-- The content below is only a placeholder and can be replaced-->

<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Include the above in your HEAD tag  -->

<!-- <div class="container">
    <div class="row-fluid">
        <div class="col-md-12">
        	<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/place?q=Cyberborg%20Bodyart%2C%20Bangka%2C%20Jakarta%2C%20Indonesia&key=AIzaSyCGz8WzqxQw1OwHWey3LCTjqKFG9feCxP4"></iframe>
    	</div>
    </div>
</div> -->

<!-- <div class="container-fluid">
  <div style="color: blue;">
  <h1>Firebase</h1>
  </div>

  <table class="table">
    <caption>List of Cabs and Users</caption>
    <thead>
      <tr>
        <th scope="col">cab</th>
        <th scope="col">startAddress-city</th>
        <th scope="col">startAddress-street</th>
        <th scope="col">endAddress-city</th>
        <th scope="col">endAddress-street</th>
        <th scope="col">startTimeStamp</th>
        <th scope="col">users</th>
      </tr>
    </thead>
    <tbody>
          <tr *ngFor="let trip of trips | async">
          <td>{{trip.cab}}</td>
          <td>{{trip.startAddress.city}}</td>
          <td>{{trip.startAddress.street}}</td>
          <td>{{trip.endAddress.city}}</td>
          <td>{{trip.endAddress.street}}</td>
          <td>{{trip.startTimeStamp}}</td>
          <td>{{trip.users}}</td>
      </tr>
      </tbody>
    </table>
  

<div class="col-md-3">
    <p *ngFor="let trip of trips | async">{{trip | json }}</p>
</div> -->

<app-leftnav id="sidebar"></app-leftnav>
<div id="wrapper">
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>